body{
  padding:0;
  margin:0;
  background-color:#f2f5f8;
  font-family:"Myriad Pro Light", "Myriad Pro", sans-serif;
  color:#4d4d4d;
  font-size:1em;
  letter-spacing:0.025em;
}

h1{
  font-size:1.75em;
}

h1,h2,h3,h4,h5{
  font-family:"Myriad Pro", sans-serif;
  font-weight:normal;
}

h2{
  font-size:1.25em;
}

.width-100{
  margin:0;
  width:100%;
}

.vertical{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.horizontal{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

.centered{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.bar{
  height:6vh;
  position:fixed;
}

.content{
  margin:3em;
  padding-top:15vh;
  font-size:1.25em;
  line-height:1.5em;
  margin-bottom:15vh;
  font-weight:200;
}

.content a{
  text-decoration:none;
  color:#424242;
}

.content a:hover{
  cursor:text;
}

.content h2{
  margin-top:3em;
}

.menu{
  right:3vh;
  height:2.75vh;
}

#header{
  text-align:center;
  background-color:#237d94;
  color:#fff;
  top:0;
  z-index:3;
}

#options{
  color:#237d94;
  background-color:#fff;
  position:absolute;
  top:6vh;
  box-shadow:0px 1px 20px rgba(77,77,77,0.5);
}

#header-labels{
  position:fixed;
  /*left:-12vh;*/
  top:15vh;
  list-style:none;
  margin:0;
  padding:0;
}

#header-labels li{
  position:relative;
  height:2.1em;
  width:25vw;
  color:#4d4d4d;
  text-transform:uppercase;
  background-color:rgba(256, 256, 256, 0.75);
  /*background-color:rgba(35, 125, 148, 0.75);*/
  text-align:center;
  margin-bottom:0.5em;
  left:-23vw;
}

li#label-1{
  left:0vw;  
}

#header-labels li p{
  padding-top:0.6em;
}

#doc-header{
  /*display:none;*/
  color:#424242;
  text-align:left;
  font-size:1.9em;
  margin-left:2em;
  /*margin-top:0.01em;*/
}

#section{
  z-index:-1;
  display:none;
  top:12vh;
  background-color:#e5e5e5;
  /*box-shadow:0px 1px 20px rgba(77,77,77,0.25);*/
}

.play-audio{
  width:25vw;
  min-width:15em;
  float:left;
  text-align:left;
  text-transform:uppercase;
  margin-left:1em;
}

.audio-msg{
  left:2.5em;
}

.play-button{
  font-size:1.25em;
  color:#fff;
  background-color:#237d94;
  text-align:center;
  width:1.5em;
  height:1.5em;
  border-radius:50%;
  float:left;
}

#footer{
  bottom:0;
  color:#4d4d4d;
  background-color:#fff;
  box-shadow:0px -1px 30px rgba(77,77,77,0.25);
}

#footer .vertical{
  right:2vw;
}

#footer-msg{
  /*display:none;*/
}

.button{
  height:4vh;
  width:25vw;
  border-radius:0.25em;
  background-color:#237d94;
  color:#fff;
  text-align:center;
}

.button:hover{
  cursor:pointer;
}

#footer-contents .button{
  display:none;
  position:relative;
  
}

.progress-bar{
  z-index:2;
  position:relative;
  height:0.5vh;
  background-color:#bdbdbd;
  bottom:0.5vh;
}

#progress{
  width:0vw;
  z-index:3;
  position:relative;
  bottom:1vh;
  background-color:#237d94;
}

/* TOP PROGRESS BAR */
.progress-bar-top{
  z-index:2;
  position:relative;
  height:0.5vh;
  background-color:#bdbdbd;
  top:12vh;
}

#progress-top{
  width:0vw;
  z-index:3;
  position:relative;
  top:11.5vh;
  background-color:#237d94;
}

/* VERTICAL PROGRESS BAR */
.progress-bar-v{
  z-index:2;
  position:fixed;
  height:100vh;
  width:0.75vw;
  background-color:#bdbdbd;
  left:0;
}

#progress-v{
  z-index:3;
  position:fixed;
  left:0;
  background-color:#237d94;
}

.circle-progress-bar{
  z-index:2;
  position:relative;
  height:2.5vh;
  top:12vh;
  background-color:rgba(256,256,256,0.95);
}

.circle{
  display:inline-block;
  border-radius:50%;
  height:0.25em;
  width:0.25em;
  /*border:1px solid #424242;*/
  border:1px solid rgba(35,125,148,0.0);
  background-color:rgba(35,125,148,0.2);
  margin:0.25em;
  margin-top:0.5em;
}

.circle-filled{
  border:1px solid #237d94;
  background-color:#237d94;
}

.content h2{
  display:inline-block;
}

.question{
  height:1.25em;
  width:1.25em;
  border-radius:50%;
  border:2px solid #237d94;
  color:#237d94;
  text-align:center;
  display:inline-block;
  margin-left:0.5em;
  font-weight:400;
}

.question:hover{
  cursor:pointer;
  border-color:#fff;
  color:#fff;
}

.question-marked{
  background-color:#237d94;
  color:#fff;
}

#section .question{
  font-size:1.25em;
  display:none;
}

.modal{
  display:none;
  position:fixed;
  z-index:10;
  height:100vh;
  width:100vw;
  background-color:rgba(35,125,148,0.8);
}

#q-modal h2{
  /*display:none;*/
  font-size:2.5em;
  text-align:center;
  color:#fff;
  font-weight:200;
  margin-top:40vh;
}

#question-panel{
  display:none;
  position:fixed;
  bottom:0;
  z-index:11;
  background-color:#fff;
  height:16vh;
  width:100%;
  box-shadow:0px -1px 30px rgba(0,0,0,0.25);
}

.options{
  margin:0;
  padding:0;
}

.options:hover{
  cursor:pointer;
}

.options li{
  font-weight:200;
  color:#000;
  font-size:;
  width:100vw;
  height:8vh;
  /*border-bottom:1px solid #4d4d4d;*/
  list-style:none;
  text-align:center;
}

.options li p{
  font-size:1.25em;
  margin:0;
  padding-top:3vh;
}

.close{
  color:#737b81;
  background-color:#e5e5e5;
}

.question-popup{
  height:10em;
  width:20em;
  background-color:#fff;
  position:fixed;
  top:20vh;
  left:10vw;
  box-shadow:0px 1px 20px rgba(77,77,77,0.25);
}

.options-popup{
  height:10em;
  text-align:center;
  list-style:none;
  margin:0;
  padding:0;
}

.options-popup li{
  height:50%;
}